#### Code that transforms the datasets to our preferred formats. i.e. in pandas Dataframes, and then saves them in native storage format via the pickle library.

- To be run within the directory that contains the book's code ( data + helper libraries)

- The pickle objects should be moved or copied to a folder accessible by the jupyter notebooks.

In [ ]:
# Pregnancy Data
import nsfg
df = nsfg.ReadFemPreg()
pd.to_pickle(df, 'nsfg_data.pkl')

In [ ]:
# CDC demographic - Body weight
import brfss
cdc_2008 = brfss.ReadBrfss()
pd.to_pickle(cdc_2008, 'cdc_demographic_2008.pkl')

In [1]:
transactions = pd.read_csv('mj-clean.csv', parse_dates=[5], infer_datetime_format=True)
# save as pickle object
pd.to_pickle(transactions, 'weed_prices.pkl')

NameError: name 'pd' is not defined

#### Data Cleaning

In [8]:
import pandas as pd
import numpy as np

df = pd.read_pickle("cdc_demographic_2008.pkl")
df.head()

    age  sex    wtyrago      finalwt  wtkg2   htm3
0  82.0    2  76.363636   185.870345  70.91  157.0
1  65.0    2  72.727273   126.603027  72.73  163.0
2  48.0    2        NaN   181.063210    NaN  165.0
3  61.0    1  73.636364   517.926275  73.64  170.0
4  26.0    1  88.636364  1252.624630  88.64  185.0

In [12]:
df = df.rename(columns={"age": "Age", "sex": "Gender", "wtyrago": "Weight_kg_1yr", "wtkg2": "Weight_kg", "htm3": "Height_cm"})
df["Gender"] = df["Gender"].apply(lambda x: "M" if x == 1 else "F")

In [15]:
df.head()

    Age Gender  Weight_kg_1yr      finalwt  Weight_kg  Height_cm
0  82.0      F      76.363636   185.870345      70.91      157.0
1  65.0      F      72.727273   126.603027      72.73      163.0
2  48.0      F            NaN   181.063210        NaN      165.0
3  61.0      M      73.636364   517.926275      73.64      170.0
4  26.0      M      88.636364  1252.624630      88.64      185.0

In [16]:
pd.to_pickle(df, "cdc_demographic_2008-clean.pkl")